# Assignment-3

This notebook contains the coding questions to test the proficiency in `Pandas` library in python.

### Date: 13th December, 2025

### Steps to solve and upload the assignment 

- Download the notebook in your local machine.
- Solve the questions in the notebook and save it.
- Rename the file as `Assignment-03-<your_name>_<your_surname>.ipynb`. For example if your name is Dipika Chopra then name the file as `Assignment-03-Dipika_Chopra.ipynb`.
- Upload the solved notebook in your github repo under the folder **Assignment-3**.
- Upload the solved notebook in the google drive location: https://drive.google.com/drive/folders/1mMtPeHCmsKQE8KxK_RmnFFkTPfo5RYNJ?usp=drive_link 
<h3><span style="color:red"> Deadline: 10th January, 2026 </span></h3>

Use the `population_by_county.csv` file in the folder to complete the tasks.

**NOTE: TRY TO DO ALL THE TASKS IN ONE LINE OF PANDAS CODE.**

In [2]:
import pandas as pd

#### 1. Import pandas and read in the `population_by_county.csv` file into a dataframe called `pop`.

In [3]:
# Write your code here

pop = pd.read_csv("population_by_county.csv")
pop

                County           State  2010Census  2017PopEstimate
0     Abbeville County  South Carolina       25417            24722
1        Acadia Parish       Louisiana       61773            62590
2      Accomack County        Virginia       33164            32545
3           Ada County           Idaho      392365           456849
4         Adair County            Iowa        7682             7054
...                ...             ...         ...              ...
3137       Yuma County         Arizona      195751           207534
3138       Yuma County        Colorado       10043            10075
3139     Zapata County           Texas       14018            14322
3140     Zavala County           Texas       11677            11948
3141    Ziebach County    South Dakota        2801             2756

[3142 rows x 4 columns]

#### 2. Show the head of the dataframe, Also show top 8 rows of the dataframe using head

In [13]:
# Write your code here

df_head = pop.head()
df_head

df_mod_head = pop.head(8)
df_mod_head

             County           State  2010Census  2017PopEstimate
0  Abbeville County  South Carolina       25417            24722
1     Acadia Parish       Louisiana       61773            62590
2   Accomack County        Virginia       33164            32545
3        Ada County           Idaho      392365           456849
4      Adair County            Iowa        7682             7054
5      Adair County        Kentucky       18656            19485
6      Adair County        Missouri       25607            25377
7      Adair County        Oklahoma       22683            21909

#### 3. What are the column names?

In [14]:
# Write your code here

list(pop.columns)

['County', 'State', '2010Census', '2017PopEstimate']

#### 4. How many States are represented in this data set?  
<em>Note: the data includes the `District of Columbia`</em>

In [15]:
# Write your code here

pop["State"].nunique()

51

#### 5. Get a list or array of all the states in the data set.

In [16]:
# Write your code here

pop["State"].unique()

array(['South Carolina', 'Louisiana', 'Virginia', 'Idaho', 'Iowa',
       'Kentucky', 'Missouri', 'Oklahoma', 'Colorado', 'Illinois',
       'Indiana', 'Mississippi', 'Nebraska', 'North Dakota', 'Ohio',
       'Pennsylvania', 'Washington', 'Wisconsin', 'Vermont', 'Minnesota',
       'Florida', 'North Carolina', 'California', 'New York', 'Wyoming',
       'Michigan', 'Alaska', 'Maryland', 'Kansas', 'Tennessee', 'Texas',
       'Maine', 'Arizona', 'Georgia', 'Arkansas', 'New Jersey',
       'South Dakota', 'Alabama', 'Oregon', 'West Virginia',
       'Massachusetts', 'Utah', 'Montana', 'New Hampshire', 'New Mexico',
       'Rhode Island', 'Nevada', 'District of Columbia', 'Connecticut',
       'Hawaii', 'Delaware'], dtype=object)

#### 6. What are the five most common County names in the U.S.?

In [34]:
# Write your code here

(pop["County"].value_counts()).head()

County
Washington County    30
Jefferson County     25
Franklin County      24
Jackson County       23
Lincoln County       23
Name: count, dtype: int64

#### 7. What are the top 5 most populated Counties according to the 2010 Census?

In [18]:
# Write your code here

pop_county =pop[['County', '2010Census']].groupby (['County']).sum()
(pop_county.sort_values(by='2010Census',ascending=False).reset_index()).head()

               County  2010Census
0  Los Angeles County     9818605
1         Cook County     5217063
2       Orange County     4826896
3       Harris County     4124483
4     Maricopa County     3817117

#### 8. What are the top 5 most populated States according to the 2010 Census?

In [ ]:
# Write your code here
pop_state = pop[['State','2010Census']].groupby(['State']).sum()
(pop_state.sort_values(by='2010Census',ascending=False).reset_index()).head()

        State  2010Census
0  California    37253956
1       Texas    25145561
2    New York    19378102
3     Florida    18801310
4    Illinois    12830632

#### 9. How many Counties have 2010 populations greater than 1 million?

In [43]:
# Write your code here
pop_1m = pop[pop['2010Census']>1000000]
pop_1m =pop_1m['County'].nunique()
pop_1m

38

#### 10. How many Counties don't have the word "County" in their name?

In [56]:
# Write your code here

pop_county = pop['County']
pop_county[~pop_county.str.contains('County')].nunique()

135

#### 11. Add a column that calculates the percent change between the 2010 Census and the 2017 Population Estimate

In [19]:
# Write your code here


pop['population_percent' ] =100 * (pop['2010Census']/pop['2017PopEstimate'])
pop

,County,State,2010Census,2017PopEstimate,population_percent
0,Abbeville County,South Carolina,25417,24722,102.811261
1,Acadia Parish,Louisiana,61773,62590,98.694680
2,Accomack County,Virginia,33164,32545,101.901982
3,Ada County,Idaho,392365,456849,85.885052
4,Adair County,Iowa,7682,7054,108.902750
...,...,...,...,...,...
3137,Yuma County,Arizona,195751,207534,94.322376
3138,Yuma County,Colorado,10043,10075,99.682382
3139,Zapata County,Texas,14018,14322,97.877391
3140,Zavala County,Texas,11677,11948,97.731838
3141,Ziebach County,South Dakota,2801,2756,101.632801

#### 12. What States have the highest estimated percent change between the 2010 Census and the 2017 Population Estimate?

**NOTE:** This will take several lines of code, as it requires a recalculation of Percent Change.

In [23]:
# Write your code here

pop.sort_values(by='population_percent',ascending=False)

,County,State,2010Census,2017PopEstimate,population_percent
620,Concho County,Texas,4087,2717,150.423261
34,Alexander County,Illinois,8238,6315,130.451306
215,Blaine County,Oklahoma,11943,9498,125.742262
2777,Terrell County,Texas,984,810,121.481481
1626,Lee County,Kentucky,7887,6570,120.045662
...,...,...,...,...,...
2944,Wasatch County,Utah,23530,32106,73.288482
1230,Hays County,Texas,157107,214485,73.248479
3060,Williams County,North Dakota,22398,33349,67.162434
1720,Loving County,Texas,82,134,61.194030
1861,McKenzie County,North Dakota,6360,12724,49.984282